h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
h2 {
    color: green;
    font-family: courier;
    font-size: 200%;
}
p {
    color: red;
    font-family: arial;
    fonmt-size: 100%;
}